.weatherbox {
  margin-top: 1in;

}

#render-weatherbox {
  display: flex;
  display: grid;
  grid-template-columns: auto;
  border-color: #82484892;
  width: 100px;
  height: 120px;
  background-color: #d7d0d081;
}