.weatherbox {
  margin-top: 1in;

}

#render-weatherbox {
  display: flex;
  display: grid;
  grid-template-columns: 30%;
  border-color: #82484892;
  width: 100px;
  height: 90px;
  background-color: #d7d0d081;
  font-size: 6pt;
}

#render-weatherboxD2{
  display: flex;
  display: grid;
  grid-template-columns: 30%;
  border-color: #82484892;
  width: 100px;
  height: 90px;
  background-color: #d7d0d081;
  font-size: 6pt;
}
#render-weatherboxD3{
  display: flex;
  display: grid;
  grid-template-columns: 30%;
  border-color: #82484892;
  width: 100px;
  height: 90px;
  background-color: #d7d0d081;
  font-size: 6pt;
}
#render-weatherboxD4{
  display: flex;
  display: grid;
  grid-template-columns: 30%;
  border-color: #82484892;
  width: 100px;
  height: 90px;
  background-color: #d7d0d081;
  font-size: 6pt;
}
#render-weatherboxD5{
  display: flex;
  display: grid;
  grid-template-columns: 30%;
  border-color: #82484892;
  width: 100px;
  height: 90px;
  background-color: #d7d0d081;
  font-size: 6pt;
}